1 Font "dataSources\\Takion.ttf"
2 Font "dataSources\\Lollipop.ttf"
3 Font "dataSources\\Pantria.ttf"
4 Font "dataSources\\Springdale.ttf"
5 Font "dataSources\\tahoma.ttf"
6 Font "dataSources\\tahomabd.ttf"
7 Font "dataSources\\Yangtze.ttf"
8 Font "dataSources\\Zadoka.ttf"
